
@{
    ViewBag.Title = "EditUserTaskEntryList";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/App/app.js"></script>
<script src="~/App/Admin/EditUserTaskEntryList.js"></script>


<div class="container-fluid" ng-app="app" ng-controller="EditUserTaskEntryList">
    <div class="container-fluid" style="margin-bottom:5px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button" onclick="location.href=' @Url.Action("UserTaskEntryList","Home")'">Back To UserList</button>
                    <button class="btn btn-warning" type="button" ng-click="SaveRecords()">Save Task</button>
                </div>
            </div>
        </div>
    </div>


    <div class="jumbotron" style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); ">

        <div class="row  row-cols-3 mb-4" >

            <div class="col">
                <label class="Project_Name"><b ng-style="lblpn;">Project Name<span style="color: red">*</span></b></label>
                    <select class="form-control" ng-disabled="!editable" ng-model="Project" ng-focus="lblpn={color:'blue'}" ng-blur="lblpn={color:'black'}">
                        <option ng-repeat="item in ListProject" ng-selected="Project=={{item.Code}}" value="{{item.Code}}">{{item.Desc}}</option>
                    </select>
            </div>

            <div class="col">
                    <label class="Task_Type"><b ng-style="lblit;">Task Type<span style="color: red">*</span></b></label>
                    <select class="form-control" ng-disabled="!editable" ng-model="ItemTypeID" ng-focus="lblit={color:'blue'}" ng-blur="lblit={color:'black'}">
                            <option ng-repeat="item in Listitemtype" ng-selected="ItemTypeID=={{item.ID}}" value="{{item.ID}}">{{item.ItemType}}</option>
                    </select>
            </div>

            <div class="col">
                    <label class="Assign_to"><b ng-style="lblast;">Assign To </b></label>
                    <select class="form-control" ng-model="AssignTo" ng-focus="lblast={color:'blue'}" ng-blur="lblast={color:'black'}">
                            <option ng-repeat="item in ListAssignTo" ng-selected="AssignTo=={{item.Code}}" value="{{item.Code}}">{{item.Desc}}</option>
                    </select>
            </div>
        </div>
        <div class="row  row-cols-3 mb-4">
            <div class="col">
                    <label class="Task"><b ng-style="lbltn;">Task<span style="color: red">*</span></b></label>
                    <input class="form-control" ng-model="Task" ng-focus="lbltn={color:'blue'}" ng-blur="lbltn={color:'black'}">
            </div>
            <div class="col">
                    <label class="Tas_description"><b ng-style="lbltd;">Task Description<span style="color: red">*</span></b></label>
                    <textarea class="form-control" rows="1" ng-model="TaskDesc" ng-focus="lbltd={color:'blue'}" ng-blur="lbltd={color:'black'}"></textarea>
            </div>
            <div class="col">
                    <label class="Assigned_taskDate"><b ng-style="lblatd;">Assigned Task Date </b></label>
                        <input class="form-control" ng-disabled="!editable" id="ADate" name="ADate" type="date" value="{{AssignDate | date:'yyyy-MM-dd'}}" ng-model="AssignDate" ng-focus="lblatd={color:'blue'}" ng-blur="lblatd={color:'black'}" />
            </div>
        </div>
        <div class="row row-cols-3 mb-4">

            <div class="col">
                    <label class="Estimated_Time"><b ng-style="lblet;">Estimated Time </b></label>
                    <input class="form-control" type="text" ng-model="EstTime" ng-focus="lblet={color:'blue'}" ng-blur="lblet={color:'black'}" />
            </div>
            <div class="col">
                    <label class="Actual_Time"><b ng-style="lblat;">Actual Time </b></label>
                        <input class="form-control" type="text" ng-model="ActualTime" ng-focus="lblat={color:'blue'}" ng-blur="lblat={color:'black'}" />
            </div>
            <div class="col">
                    <label class="Status"><b ng-style="lbls;">Status</b></label>
                        <select class="form-control" ng-model="StatusID" ng-focus="lbls={color:'blue'}" ng-blur="lbls={color:'black'}">
                            <option ng-repeat="item in Liststatus" ng-selected="StatusID=={{item.ID}}" value="{{item.ID}}">{{item.tstatus}}</option>
                        </select>
            </div>

        </div>
        <div class="row row-cols-3 mb-4">
            <div class="col">
                    <label class="Priority"><b ng-style="lblp;">Priority</b></label>
                        <select class="form-control" ng-model="PriorityID" ng-focus="lblprojectprio={color:'blue'}" ng-blur="lblprojectprio={color:'black'}">
                            <option ng-repeat="item in Listpriority" ng-selected="PriorityID=={{item.ID}}" value="{{item.ID}}">{{item.priority1}}</option>
                        </select>
            </div>
            <div class="col">
                    <label class="Start_Date"><b ng-style="lbled;">Start Date</b> </label>
                    <input class="form-control" id="EDate" name="EDate" type="date" value="{{EstDate | date:'yyyy-MM-dd'}}" ng-model="EstDate" ng-focus="lbled={color:'blue'}" ng-blur="lbled={color:'black'}" />
            </div>
            <div class="col">
                    <label class="End_Date"><b ng-style="lblcd;">End Date</b></label>
                    <input class="form-control" id="CDate" name="CDate" type="date" value="{{CompletionDate | date:'yyyy-MM-dd'}}" ng-model="CompletionDate" ng-focus="lblcd={color:'blue'}" ng-blur="lblcd={color:'black'}" />
            </div>
        </div>

    </div>


    <label id="lbltaskid" ng-model="TaskID" style="visibility: collapse;">@ViewBag.VisitorID</label>
    <label id="CallTaskId" ng-model="CallID" style="visibility: collapse;">@ViewBag.CallId</label>
    <label id="UserCode" ng-model="EmpCode" style="visibility: collapse;">@Session["UserCode"]</label>
</div>


