
@{
    ViewBag.Title = "UserEntry";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/App/app.js"></script>
<script src="~/App/Admin/UserEntry1.js"></script>


<div class="container-fluid" ng-app="app" ng-controller="UserEntry1">
    <div class="container-fluid" style="margin-bottom:5px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button" onclick="location.href=' @Url.Action("UserList","Home")'">Back To UserList</button>
                    <button class="btn btn-warning" type="button" ng-click="submit()">Save User</button>
                </div>
            </div>
        </div>
    </div>


    <div class="jumbotron" style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); ">

        <div class="row  row-cols-3">
            <div class="col">
                <div class="form-input" style="margin-bottom: 40px">
                    <label for="UserName">
                        <b ng-style="lblun;">User Name</b><span style="color: red">*</span>
                    </label>
                    <input class="form-control " style=" height: 100%; width: 100%" type="text" autocomplete="off" id="UserName" ng-model="UserName" name="UserName" ng-focus="lblun={color:'blue'}" ng-blur="lblun={color:'black'}">
                </div>
            </div>
            <div class="col">
                <div class="form-input" style="margin-bottom: 40px">
                    <label for="Mobile">
                        <b ng-style="lblmonbno;">Mobile No</b><span style="color: red">*</span>
                    </label>

                    <script language="javascript" type="text/javascript">
                        function limitText(limitField, limitNum) {
                            if (limitField.value.length > limitNum) {
                                alert("Enter 10 digit Mobile Number");
                                limitField.value = limitField.value.substring(0, limitNum);
                            }
                        }
                    </script>

                    <input class="form-control " style=" height: 100%; width: 100%" type="text" onkeyup="limitText(this,10);" onkeydown="limitText(this,10);" ng-keypress="AllowDigitonly($event)" name="Mobile"
                           id="Mobile" ng-model="Mobile" ng-focus="lblmonbno={color:'blue'}" ng-blur="lblmonbno={color:'black'}">
                </div>
            </div>
            <div class="col">
                <div class="form-input" style="margin-bottom: 40px">
                    <label for="MailID">
                        <b ng-style="lblmail;">E-MailID</b><span style="color: red">*</span>
                    </label>

                    <input class="form-control " style=" height: 100%; width: 100%" type="text" name="MailID"
                           id="MailID" ng-model="MailID" ng-focus="lblmail={color:'blue'}" ng-blur="lblmail={color:'black'}">
                </div>
            </div>
        </div>
        <div class="row  row-cols-3">
            <div class="col">
                <div class="form-input" style="margin-bottom: 40px">
                    <label for="PassWord">
                        <b ng-style="lblPass;">Password</b><span style="color: red">*</span>
                    </label>
                    <input type="password" style=" height: 100%; width: 100%" name="EPassword" ng-model="Password"
                           required class="form-control" id="txtPassword" ng-focus="lblPass={color:'blue'}" ng-blur="lblPass={color:'black'}" />
                </div>
            </div>
            <div class="col">
                <div class="form-input" style="margin-bottom: 40px">

                    <label for="Usertype">
                        <b ng-style="lblr;">Role</b><span style="color: red">*</span>
                    </label>

                    <select class="form-control" style=" height: 100%; width: 100%" ng-model="UserType" ng-focus="lblr={color:'blue'}" ng-blur="lblr={color:'black'}">
                        <option ng-repeat="item in Usetypelist" ng-selected="UserType=={{item.UserCode}}" value="{{item.UserCode}}">{{item.UserType}}</option>
                    </select><br>
                </div>
            </div>

        </div>

    </div>


    <label id="UserCode" ng-model="EmpCode" style="visibility: collapse;">@Session["UserCode"]</label>
    <label id="lbluserid" ng-model="VisitorUID" style="visibility: collapse;">@ViewBag.VisitorUID</label>
</div>


